<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

Person's name: <p th:text="${person.getName()}">VALUE</p>
Person's age: <p th:text="${person.getAge()}">VALUE</p>
Person's email: <p th:text="${person.getEmail()}">VALUE</p>
Person's address: <p th:text="${person.getAddress()}">VALUE</p>
Person's Id: <p th:text="${person.getId()}">VALUE</p>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit person"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<br/>
<hr/>
<a th:href="@{/people}">Back to all People</a>

</body>
</html>